In [1]:
class Employee():
    pass

In [2]:
emp1 = Employee()
emp2 = Employee()   # insatance of a class

In [3]:
print(emp1)

<__main__.Employee object at 0x7ffbd00b4f90>

In [4]:
print(emp2)

<__main__.Employee object at 0x7ffbd00b5b10>

In [5]:
emp1.first = 'Aditya'    # insatnce variables
emp1.last = 'Thakare'
emp1.salary = 51000

emp2.first ='Parag'
emp2.last = 'Patel'
emp2.salary = 48000

In [6]:
print(emp1.first)

Aditya

In [7]:
print(emp2.last)

Patel

In [26]:
class Employee():
    def __init__ (self, first, last, salary):
        self.first = first
        self.last = last
        self.salary = salary
        
    def msg(self):
        print('First Name:',self.first, '\nLast Name:', self.last,
             '\nSalary:', self.salary)

In [27]:
emp1 = Employee('Aditya', 'Thakare', 51000)

In [28]:
emp2 = Employee('Parag', 'Patel', 48000)

In [29]:
print(emp1.salary)

51000

In [30]:
emp1.msg()

First Name: Aditya
Last Name: Thakare
Salary: 51000

In [57]:
# Encapsulation
# making public variables private using __

class Employee():
    def __init__ (self, first, last, salary):
        self.first = first
        self.last = last
        self.__salary = salary
        
    def msg(self):
        print('First Name:',self.first, '\nLast Name:', self.last,
             '\nSalary:', self.salary)

In [58]:
emp1 = Employee('Aditya', 'Thakare', 51000)

In [59]:
emp2 = Employee('Parag', 'Patel', 48000)

In [60]:
print(emp1.salary)

AttributeError: 'Employee' object has no attribute 'salary'

In [61]:
print(emp1.first)

Aditya

In [62]:
# Inheritance

In [63]:
class Employee2(Employee):
    pass

In [64]:
emp3 = Employee2('Riya', 'Sharma', 45000)

In [66]:
emp3.first

'Riya'